version: "3.8"

volumes:
  hoge:
  sample_db:

services:
  frontend:
    container_name: sample-frontend
    build:
      context: ./frontend
      dockerfile: ./Dockerfile
    volumes:
      - ./frontend:/frontend
      - hoge:/frontend/node_modules
    working_dir: /frontend
    ports:
      - 3000:3000
    tty: true
    stdin_open: true
    environment:
      - WATCHPACK_POLLING=true
    # command: >
    #   bash -c "yarn install &&
    #     yarn build"
    # command: bash -c "yarn start"
  backend:
    container_name: sample-backend
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - 3004:3003
    volumes:
      - ./backend:/backend
    tty: true
    depends_on:
      - db
    stdin_open: true
    platform: linux/x86_64
    # command: >
    #   bash -c "rails db:migrate &&
    #     rm -f tmp/pids/server.pid &&
    #     rails s -p 3003 -b '0.0.0.0'"
  db:
    container_name: sample-db
    build: ./db
    volumes:
      - sample_db:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: x3Ad6kCi
      PGPORT: 5435
    ports:
      - 5435:5434
    tty: true
    stdin_open: true
  nginx:
    build:
      context: ./web
      dockerfile: Dockerfile
    volumes:
      - ./build:/var/www
      - ./web/default.conf:/etc/nginx/conf.d/default.conf
    ports:
      - "8080:80"